@media only screen and (max-width: 1000px) {
  .woman-mobile {
    display: block;
  }

  .woman-desktop {
    display: none;
  }

  .box-desktop {
    display: none;
  }

  #faq-container {
    padding-top: 18rem;
    padding-bottom: 8rem;
  }

  .faq-card {
    height: 60rem;
    width: 70vw;
    flex-direction: column;
    background: url('../img/bg-pattern-mobile.svg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 62%;
    width: 59vw;
    overflow: visible;
  }

  .card-left {
    margin-left: -7.8%;
    margin-top: -28.5%;
    width: 70%;
    height: auto;
  }

  .card-right {
    padding: 12rem 3rem 5rem 3rem;
    width: 100%;
  }

  .faq-heading {
    align-self: center;
  }
}

@media only screen and (max-width: 540px) {
  .faq-card {
    width: 70vw;
  }
}

@media only screen and (max-width: 500px) {
  .faq-card {
    width: 90vw;
    height: 55rem;
  }

  .card-right {
    padding: 10rem 1.5rem 5rem 1.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .faq-card {
    height: 50rem;
  }

  .card-right {
    padding: 7rem 0.5rem 5rem 0.5rem;
  }
}

@media only screen and (max-height: 1366px) {
  .box-desktop {
    top: 48%;
  }
}

@media only screen and (max-height: 1024px) {
  .box-desktop {
    top: 47.5%;
  }
}
