@media (max-width: 1024px) {
  html {
    font-size: 82.5%;
  }

  #faq-container .faq-card {
    width: 85%;
    min-height: 60vh;
  }

  #faq-container .faq-card .card-left .desktop-index-one img {
    height: 115%;
    width: 67%;
  }

  #faq-container .faq-card .card-left .desktop-index-two img {
    top: 9.5%;
    left: -6.8%;
    height: 47%;
    width: 39.5%;
  }

  #faq-container .faq-card .card-left .desktop-index-three img {
    top: 27.5%;
    left: -8.2%;
    height: 22.5%;
    width: 17%;
  }

  #faq-container .faq-card .card-left .desktop-index-three.active img {
    left: -10.3%;
  }

  #faq-container .faq-card .card-right #accordion.active .content {
    height: 90px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 90.5%;
  }

  #faq-container .faq-card {
    grid-template-columns: none;
    width: 70%;
    min-height: 70vh;
    margin-top: 10%;
  }

  #faq-container .faq-card .card-left .desktop-index-one,
  #faq-container .faq-card .card-left .desktop-index-two,
  #faq-container .faq-card .card-left .desktop-index-three {
    display: none;
  }

  #faq-container .faq-card .card-left .mobile-index-one,
  #faq-container .faq-card .card-left .mobile-index-two {
    display: block;
  }

  #faq-container .faq-card .card-left .mobile-index-one {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #faq-container .faq-card .card-left .mobile-index-one img {
    position: absolute;
    top: -0.5%;
    left: 12.2%;
    width: 45.5%;
    height: 16%;
    transform: skewY(-1.4deg);
  }

  #faq-container .faq-card .card-left .mobile-index-two {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #faq-container .faq-card .card-left .mobile-index-two img {
    position: absolute;
    top: -17%;
    left: 7.2%;
    width: 50%;
    height: 30%;
    transform: skewY(-1.6deg);
    z-index: 2;
  }

  #faq-container .faq-card .card-right {
    align-items: center;
    padding: 0 2rem;
  }

  #faq-container .faq-card .card-right h1 {
    padding-left: 0;
  }

  #faq-container .faq-card .card-right #accordion.active .content {
    height: 90px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  #faq-container .faq-card {
    width: 90%;
    min-height: 80vh;
    margin-top: 15%;
  }

  #faq-container .faq-card .card-left .mobile-index-one img {
    top: -0.5%;
    left: 15.5%;
    width: 58%;
    height: 14%;
    transform: skewY(-1deg);
  }

  #faq-container .faq-card .card-left .mobile-index-two img {
    top: -14.7%;
    left: 10%;
    width: 62%;
    height: 26%;
    transform: skewY(-1deg);
  }

  #faq-container .faq-card .card-right {
    align-items: center;
    padding: 0 1rem;
  }

  #faq-container .faq-card .card-right h1 {
    padding-left: 0;
  }

  #faq-container .faq-card .card-right #accordion.active .content {
    height: 65px;
  }
}

/* Landscape */
@media (max-height: 500px) {
  html {
    font-size: 50%;
  }

  #faq-container .faq-card .card-right #accordion.active .content {
    height: 35px;
  }
}
