* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans;
  color: hsl(238, 29%, 16%);
  line-height: 1.6;
  font-size: 1.2rem;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h3 {
  line-height: 1.3;
  margin-bottom: 0.55rem;
}

.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  overflow-y: auto;
}

#faq-container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#faq-container .faq-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #fff;
  width: 60%;
  border-radius: 20px;
  min-height: 70vh;
}

#faq-container .faq-card .card-left .mobile-index-one,
#faq-container .faq-card .card-left .mobile-index-two {
  display: none;
}

#faq-container .faq-card .card-left .desktop-index-one {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#faq-container .faq-card .card-left .desktop-index-one img {
  position: absolute;
  top: -34%;
  left: -35%;
  width: 60%;
  height: 112%;
  z-index: 1;
}

#faq-container .faq-card .card-left .desktop-index-two {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#faq-container .faq-card .card-left .desktop-index-two img {
  position: absolute;
  top: 9%;
  left: -5.3%;
  height: 42%;
  width: 30.5%;
  z-index: 2;
}

#faq-container .faq-card .card-left .desktop-index-three {
  position: absolute;
  width: 100%;
  height: 100%;
}

#faq-container .faq-card .card-left .desktop-index-three img {
  position: absolute;
  top: 25%;
  left: -4.9%;
  height: 20%;
  width: 10%;
  z-index: 3;
  transition: left 0.3s ease-out;
}

#faq-container .faq-card .card-left .desktop-index-three.active img {
  left: -6.5%;
  transition: left 0.3s ease-out;
}

#faq-container .faq-card .card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 4rem;
}

#faq-container .faq-card .card-right h1 {
  padding-bottom: 1.5rem;
  padding-left: 0.7rem;
  font-size: 2.5rem;
  font-weight: 700;
}

#faq-container .faq-card .card-right #accordion {
  padding: 1rem;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

#faq-container .faq-card .card-right #accordion .label {
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
}

#faq-container .faq-card .card-right #accordion.active .label {
  font-weight: 700;
}
#faq-container .faq-card .card-right #accordion:hover .label {
  color: hsl(14, 88%, 65%);
  transition: 0.2s ease-out;
}

#faq-container .faq-card .card-right #accordion .label::after {
  content: url('../img/icon-arrow-down.svg');
  position: absolute;
  right: 0;
}

#faq-container .faq-card .card-right #accordion.active .label::after {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}

#faq-container .faq-card .card-right #accordion .content {
  overflow: hidden;
  transition: 0.7s ease-out;
  height: 0;
}

#faq-container .faq-card .card-right #accordion.active .content {
  height: 60px;
}
