* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans;
  color: hsl(238, 29%, 16%);
  line-height: 1.6;
  font-size: 1.2rem;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h3 {
  line-height: 1.3;
  margin-bottom: 0.55rem;
}

.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}

.woman-mobile {
  display: none;
}

#faq-container {
  min-height: 100vh;
  background: linear-gradient(179deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-size: 400% 400%;
  -webkit-animation: colorTransition 4s ease infinite;
  -moz-animation: colorTransition 4s ease infinite;
  animation: colorTransition 4s ease infinite;

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.faq-card {
  display: flex;
  width: 80rem;
  height: 49rem;
  max-width: none;
  border-radius: 3rem;
  background: url(../img/bg-pattern-desktop.svg);
  background-color: #fff;
  background-position: 623% 71%;
  background-size: 111%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card-left {
  align-self: center;
  justify-content: center;
  margin-left: -7rem;
  width: 57rem;
  height: auto;
}

.box-desktop {
  position: absolute;
  width: 12rem;
  height: auto;
  top: 46%;
  left: 49.4%;
  margin-left: -45.2rem;
  animation-name: bounce;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.card-right {
  padding: 9rem 3rem 9rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  width: 63rem;
}

.card-right::-webkit-scrollbar {
  width: 0;
}

.faq-heading {
  padding-bottom: 1.5rem;
  padding-left: 0.7rem;
}

.faq-heading h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.accordion-card {
  overflow-y: scroll;
}

.accordion-card::-webkit-scrollbar {
  width: 0;
}

.accordion {
  padding: 1.4rem 1rem;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.label {
  position: relative;
  font-size: 1.45rem;
  cursor: pointer;
}

.accordion.active .label {
  font-weight: 700;
}

.accordion:hover .label {
  color: hsl(14, 88%, 65%);
  transition: 0.2s ease-out;
}

.accordion .label::after {
  content: url('../img/icon-arrow-down.svg');
  position: absolute;
  right: 0;
}

.accordion.active .label::after {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}

.content {
  overflow: hidden;
  height: 0;
}

.content p {
  font-size: 1.35rem;
}

.accordion.active .content {
  height: 100%;
}

/* ANIMATION */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.9rem);
  }

  100% {
    transform: translateY(0.3rem);
  }
}

@-webkit-keyframes colorTransition {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes colorTransition {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes colorTransition {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
