@media (max-width: 1024px) {
  html {
    font-size: 85.5%;
  }

  #faq-container .faq-card .card-left .desktop-index-two img {
    top: 2%;
    left: -7%;
    transform: scale(0.8);
  }

  #faq-container .faq-card .card-left .desktop-index-three img {
    top: 17.5%;
    left: -4.8%;
    transform: scale(0.8);
  }

  #faq-container .faq-card .card-left .desktop-index-three.active img {
    left: -6%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 100%;
  }

  #faq-container {
    padding: 50% 10% 20% 10%;
    /* position: relative; */
  }

  #faq-container .faq-card {
    grid-template-columns: none;
  }

  #faq-container .faq-card .card-left .desktop-index-two,
  #faq-container .faq-card .card-left .desktop-index-three {
    display: none;
  }

  #faq-container .faq-card .card-left .mobile-index-one,
  #faq-container .faq-card .card-left .mobile-index-two {
    display: block;
  }

  #faq-container .faq-card .card-left .mobile-index-one {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #faq-container .faq-card .card-left .mobile-index-one img {
    position: absolute;
    top: -1%;
    left: 11.5%;
    width: 56%;
    height: 14%;
    transform: skewY(-1.4deg);
  }

  #faq-container .faq-card .card-left .mobile-index-two {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #faq-container .faq-card .card-left .mobile-index-two img {
    position: absolute;
    top: -14.8%;
    left: 6.2%;
    width: 60%;
    height: 26%;
    transform: skewY(-1.6deg);
    z-index: 2;
  }

  #faq-container .faq-card .card-right {
    align-items: center;
    padding: 13rem 2rem 2rem 2rem;
  }

  #faq-container .faq-card .card-right h1 {
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 70%;
  }

  /* #faq-container {
    padding: 10% 10%;
  } */

  #faq-container {
    padding: 70% 10% 20% 10%;
    /* position: relative; */
  }

  #faq-container .faq-card .card-left .mobile-index-one img {
    position: absolute;
    top: -0.5%;
    left: 11%;
    width: 58%;
    height: 14%;
    transform: skewY(-1deg);
  }

  #faq-container .faq-card .card-left .mobile-index-two img {
    position: absolute;
    top: -14.7%;
    left: 5.5%;
    width: 62%;
    height: 26%;
    transform: skewY(-1deg);
  }

  #faq-container .faq-card .card-right {
    align-items: center;
    padding: 0 1rem;
  }

  #faq-container .faq-card .card-right h1 {
    padding-left: 0;
    padding: 13rem 2rem 2rem 2rem;
  }
}

/* Landscape */
@media (max-height: 500px) {
  html {
    font-size: 50%;
  }
}
